* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Open Sans', sans-serif;

}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
    margin-bottom: 20px;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
}



.input-control input:focus {
    outline: none;
    border-color: #09c372;
    box-shadow: 0 0 5px rgba(9, 195, 114, 0.5);
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    display: none;
    color: #ff3860;
    font-size: 9px;
    height: 19px;
}

.notification-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    box-sizing: border-box;
}

.notification-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.notification-modal .close:hover,
.notification-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}